<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<?init class="org.zkoss.zkplus.databind.AnnotateDataBinderInit"?>
<zk>
	<button id="comprarButton" visible="false" />
	<window id="mainWindow"
		apply="com.mera.shop.controladores.IndexController" border="0">
		<vbox align="center">
			<listbox id="productosListbox" style="border: 0;"
				model="@{mainWindow$composer.inventario}" width="80%">
				<listhead>
					<listheader
						label="Seleccione un producto para hacer su compra">
					</listheader>
				</listhead>
				<listitem self="@{each='inventario'}"
					value="@{inventario}">
					<listcell>
						<hbox>
							<vbox align="center">
								<image
									src="@{inventario.producto.rutaImagenProducto}" width="25%" />
								<label
									value="@{inventario.producto.descripcionProducto}">
								</label>
								<hbox>
									Valor $
									<label
										value="@{inventario.producto.valorProducto}" />
									COP
								</hbox>
								<hbox>
									<label
										value="@{inventario.cantidadDisponible}" />
									Unidades disponibles
								</hbox>
							</vbox>
							<button
								id="@{inventario.producto.idProducto}" label="Comprar"
								image="/resources/img/rsz_cd-icon-cart.png"
								forward="onClick=onClick$comprarButton(${self.id}), onCreate=onCreate$comprarButton(${self})">
							</button>
						</hbox>
					</listcell>
				</listitem>
			</listbox>
		</vbox>
	</window>
</zk>